.eye-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw; /* 横幅を50%に設定 */
    height: 50vh; /* 縦幅を50%に設定 */
    background-color: black;
}

.eye {
    position: absolute;
    width: 10vw;
    height: 25vh;
    background-color: white;
    border-radius: 50%;
    top: 50%; /* 縦方向の中央に配置 */
    transform: translateY(-50%);
}

#leftEye {
    left: 20%; /* eye-container内の左側に配置 */
}

#rightEye {
    right: 20%; /* eye-container内の右側に配置 */
}
